
nimcache/
nimsuggest.log
nakefile

bin/
floricache/
jsdist/
flori.exe
flori
florirepl.exe
florirepl

tests/basictester.exe
tests/basictester
tests/floritester.exe
tests/floritester
tests/bin/

*.swp
*.exe
*.pdb
voiceroids.txt
*.zip
core.fimg
