
nimcache/
nimsuggest.log

floricache/
flori.exe
flori

tests/tester.exe
tests/tester
sparser_test.exe
sparser_test
semantic_test.exe
semantic_test

hello.exe
hello
xorshift.exe
xorshift
ctrefcount.exe
ctrefcount
voiceroids.txt
varargs-example.exe
varargs-example
vec-example.exe
vec-example
