
nimcache/
nimsuggest.log

floricache/
flori.exe
flori

tests/tester.exe
tests/tester

hello.exe
hello
xorshift.exe
xorshift
ctrefcount.exe
ctrefcount
voiceroids.txt
varargs-example.exe
varargs-example
vec-example.exe
vec-example
logger-example.exe
logger-example
